<ul class="list-group shadow">
    <!-- list group item-->
    <li class="list-group-item">
        <!-- Custom content-->
        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-left">
                <img [src]="imageUrl" alt="Generic placeholder image" width="100" class="img-fluid media-object mb-3 rounded">
            </div>
            <div class="media-body">
                <h5 class="mt-0 font-weight-bold mb-2">{{ course.name }}</h5>
                <p class="font-italic text-muted mb-0 small">{{ course.description }}</p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                    <h6 class="font-weight-bold my-2">{{ course.price | currency: 'PHP' }}</h6>

                    <!-- To display rating system -->
                    <ul class="list-inline small">
                        <span class="font-weight-bold mx-2">Rating:</span>
                        <li *ngFor="let item of course.rating | ratings let i = index" class="list-inline-item m-0">
                            <i *ngIf="i <= course.rating" class="bi bi-star-fill"></i>
                        </li>
                        <li *ngFor="let item of 5 - course.rating | ratings let i = index" class="list-inline-item m-0">
                            <i *ngIf="course.rating < 5" class="bi bi-star"></i>
                        </li>
                    </ul>

                </div>
                <div *ngIf="isAdmin">
                    <button type="button" class="btn btn-primary" (click)="edit()">Edit</button>&nbsp;
                    <button type="button" class="btn btn-warning" (click)="archive(course)">Archive</button>
                </div>
                <div *ngIf="hasToken && isAdmin === false;" class="d-flex gap-3 my-2">
                    <button 
                        [disabled]="isEnrolled" 
                        type="button" 
                        class="btn btn-primary" 
                        (click)="enroll()">{{isEnrolled ? "Enrolled" : "Enroll"}}
                    </button>
                    <button 
                        [disabled]="!isEnrolled" 
                        type="button" 
                        class="btn btn-warning" 
                        (click)="review()">Review
                    </button>
                </div>
            </div>
        </div> <!-- End -->
    </li> <!-- End -->
</ul> <!-- End -->