<div class="row justify-content-center">
  <div class="col-12 col-md-6">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Feedback:</label>
            <textarea type="text" rows="4" class="form-control" [(ngModel)]="review.feedback" name="feedback" required></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label me-2">Rating: </label>
            <!-- <input type="number" class="form-control" [(ngModel)]="review.rating" name="rating" required> -->
            <div class="btn-group" role="group" aria-label="First group">
                <button *ngFor="let star of stars; let i = index"
                        type="button" 
                        (click)="setRating(i+1)" 
                        class="btn btn-light star-btn"
                       >
                    <i [ngClass]="{ 'bi bi-star-fill icon-yellow': i+1 <= starValue, 'bi bi-star' : i+1 > starValue}"></i>
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Review</button>
      </form>
  </div>
</div>

